{% extends 'layout.html' %} {% block body %}
<div class="jumbotron">
  <h1 class="display-4">
    Simple BMI Calculator App by {{ app_data['author'] }}
  </h1>
  <p class="lead">
    This is a simple hero unit, a simple jumbotron-style component for calling
    extra attention to featured content or information.
  </p>
  <p>Title: {{ app_data['html_title'] }}</p>

  <hr class="my-4" />
  <p>
    It uses utility classes for typography and spacing to space content out
    within the larger container.
  </p>
  <a class="btn btn-primary btn-lg" href="/users" role="button">go</a>
</div>
{% endblock %}
