{% extends 'layout.html' %} {% block body %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/update.js') }}"
></script>
<div id="form" >

</div>
<!-- <form onsubmit="event.preventDefault(); handleUpdate(this);">
  <!-- <div class="form-group">
    <label for="name">Name</label>
    <input
      name="name"
      class="form-control"
      type="text"
      placeholder="isi nama"
    />
  </div>
  <div class="form-group">
    <label for="name">Weight</label>
    <input
      name="weight"
      class="form-control"
      type="number"
      placeholder="isi berat badan"
    />
  </div>
  <div class="form-group">
    <label for="name">Height</label>
    <input
      name="height"
      class="form-control"
      type="number"
      placeholder="isi tinggi badan"
    />
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input name="age" class="form-control" type="text" placeholder="isi umur" />
  </div>
  <div class="form-group">
    <label for="name">Target Date</label>
    <input
      name="date"
      class="form-control"
      type="datetime-local"
      placeholder="isi target tanggal"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> -->
</form>
{% endblock %}
