{% extends 'layout.html' %} {% block body %}

<table
  id="user-table"
  class="table table-striped table-bordered"
  style="width: 100%"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Age</th>
      <th>BMI</th>
      <!-- <th>Target Date</th> -->
      <th>Need Update</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="user">
    <!-- <tr>
      <td>Tiger Nixon</td>
      <td>50</td>
      <td>160</td> -->
    <!-- <td>2011/04/25</td> -->
    <!-- <td>false</td>
      <td>
        <button type="button" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr> -->
  </tbody>
  <!-- <tfoot>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th> -->
  <!-- <th>Target Date</th> -->
  <!-- <th>Need Update</th>
      <th>Action</th>
    </tr>
  </tfoot> -->
</table>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/users.js') }}"
></script>
{% endblock %}
